/* Mobile First Grid*/
[class*='col-']{
  float:left;
  width:100%;
  padding-left: 1rem;
  padding-right: 1rem;
}

/* Clearfix */

[class*='col-']::after{
  content:" ";
  display:block;
  clear:both;
}

/* Manual clearfix for containers */
.clearfix:after {
    content:" ";
    display:block;
    clear:both;
}

.container h3 {
  padding-top: 1rem;
}

/* Desktop Grid */
@media only screen and (min-width:768px){
  [class*='col-']{
  	float:left;
    /*border: solid black 1px;*/
    min-height: 1px;
  }

  .col-1 {
  	width:8.33%;
  }
  .col-2 {
  	width:16.66%;
  }
  .col-3 {
  	width:25%;
  }
  .col-4 {
  	width:33.33%;
  }
  .col-5 {
  	width:41.66%;
  }
  .col-6 {
  	width:50%;
  }
  .col-7 {
  	width:58.33%;
  }
  .col-8 {
  	width:66.66%;
  }
  .col-9 {
  	width:75%;
  }
  .col-10 {
  	width:83.33%;
  }
  .col-11 {
  	width:91.66%;
  }
  .col-12 {
  	width:100%;
  }

}
